/* *Projects Page* */
/* .projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--md);
  margin: 0 auto;
} */

.project-1,
.project-3 {
  margin-bottom: var(--2xl);
}

.project-card {
  background: var(--card-bg);
  position: relative;
  box-shadow: var(--shadow-md);
}

.project-image > img {
  width: 100%;
  max-height: 500px;
}

.project-image > i {
  position: absolute;
  inset: 0;
  height: 50px;
  width: 50px;
  padding: var(--base);
  border-bottom-right-radius: var(--rounded-lg);
  background: var(--accent);
}

.project-text {
  display: grid;
  gap: var(--md);
  padding: var(--md);
}

.project-image {
  width: 100%;
}

@media (min-width: 1024px) {
  .projects {
    display: flex;
    justify-content: center;
  }
  .project-col-2 {
    margin-top: 5rem;
  }
}
