/* *Projects Page* */
h1 {
  font-size: var(--heading-2);
}
.project-1,
.project-3 {
  margin-bottom: var(--3xl);
}

.project-image > i {
  position: absolute;
  inset: 0;
  height: 45px;
  width: 45px;
  padding: var(--xs);
  border-bottom-right-radius: var(--rounded-lg);
  background: var(--accent);
}

.project-text {
  display: grid;
  gap: var(--md);
  padding: var(--md);
}

@media (min-width: 1200px) {
  h1 {
    font-size: var(--heading-1);
  }
  .project-col-2 {
    margin-top: 5rem;
  }
}
